<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>vzyBilly's app testing server</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Testing grounds for my testing app while I learn android.<br>App versions
      </h1>
      <h3><a href="https://drive.google.com/folderview?id=1DaUpYnfSdiUbXtDVAglHBcnf6JdN1J6I">year.month.day.hour.minute</a></h3>
    </header>
    <hr>
    <main>
      <a href="https://drive.google.com/file/d/1zbYoK17vOSJZJxJIoeHPqBFU4xtZAzRf/view?usp=drivesdk">2016.8.25.15.54</a><br><ul>
      <li>Fixed up Simple Chat</li>
      <li>Added the foundational back-end for Chat<br> with Rooms and Commands!</li>
      </ul><hr>
      <a href="https://drive.google.com/file/d/15nWE_q8T0WkqC6SRC-j_wgUQTrOggWj1/view?usp=drivesdk">2016.8.20.0.25</a><hr>
    </main>
    <br><br><hr>
    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
